@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: #06b6d4;
  border-bottom: 0px solid;
  transition: color 100ms, border-bottom-width 50ms;
  line-height: 0.5rem;
}

a:hover {
  color: #0284c7;
  border-bottom-width: 2px;
}
